@import '../pcss/globals/variables.pcss';

:root {
	@media (--first-breakpoint ) {
		--content-width: 1200px;
	}

	@media (--second-breakpoint ) {
		--content-width: 800px;
	}
}

body {
	background: var(--c-grey);
}
